a{
    color: #000;
    text-decoration: none;
}
button{
    padding: 6px 3rem;
    border: 0;
    border-radius: 20px;
    background-color: #878787;
    transition-duration: 0.5s;
}
button:hover{
    background-color: #7b7b7b;
}
.container-fluid{
    background-color: #929292;
    padding-top: 10rem;
    padding-bottom: 15rem;
}
.nav{
    display: flex;
    justify-content: space-between;
}
.nav>img{
    width: 50px;
}
.nav .items{
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.nav .items>li{
    margin: 0;
    padding: 0;
}
.card{
    width: 100%;
}
.card img{
    width: 100px;
    margin: 3.5rem 0;
}
.cco{
    margin-top: -9rem;
}
.lead{
    font-weight: 400;
}
@media (max-width: 768px){
    .nav{
        justify-content: center;
        row-gap: 1rem;
    }
}